@if (totalOrderItems !== 0) {
    <div
        class="h-max lg:w-full rounded-xl relative bg-white"
        [ngStyle]="{
            'box-shadow':
                '0 -6px 15px -3px rgba(0, 0, 0, 0.1), 0 -3px 10px -2px rgba(0, 0, 0, 0.05)'
        }"
    >
        <div class="flex flex-col gap-8 justify-center items-center">
            <div class="border-2 w-3/4 border-gray-300 rounded-lg mt-8">
                <div class="p-4">
                    <div class="flex justify-between items-center align-middle">
                        <h3 class="text-lg">Subtotal</h3>
                        <h3 class="text-lg font-semibold">{{ totalPrice | currency: 'USD' }}</h3>
                    </div>
                    <div class="flex justify-between items-center align-middle">
                        <h3 class="text-lg">PPN 10%</h3>
                        <h3 class="font-semibold text-lg">{{ getTotalTax() | currency: 'USD' }}</h3>
                    </div>
                    <div
                        class="border-t-4 opacity-50 border-gray-300 border-dashed my-4"
                    ></div>
                    <div class="flex justify-between items-center align-middle">
                        <h3 class="text-lg">Total Amount</h3>
                        <h3 class="font-semibold text-lg">{{ getPriceAfterTax() | currency: 'USD' }}</h3>
                    </div>
                </div>
            </div>
            <!-- prettier-ignore -->
            <button class="btn bg-blue-500 text-white hover:bg-blue-700 w-3/4 lg:h-20 text-2xl mb-8">
                Continue
            </button>
        </div>
    </div>
}
