<div class="my-6">
    @for (menu of menus; track $index) {
        <h2 class="font-semibold text-2xl mb-8">{{ menu.category }}</h2>
        <div class="grid grid-cols-4 mb-6">
            @for (item of menu.menus; track $index) {
                <button class="flex flex-col items-center gap-2 lg:mb-6" (click)="addToOrder(item)">
                    <img
                        src="{{ item.image }}"
                        alt="{{ item.name }}"
                        class="w-24 h-24 lg:w-36 lg:h-36 object-cover rounded-lg cursor-pointer hover:brightness-75 transition ease-in-out duration-300"
                    />
                    <h3 class="font-semibold text-lg">{{ item.name }}</h3>
                    <p class="text-gray-400 text-lg">${{ item.price }}</p>
                </button>
            }
        </div>
    }
</div>

@if (showLimitWarning) {
    <div class="toast toast-top toast-center">
        <div class="alert bg-red-200 text-red-700 text-lg">
            <span>Order price has reached the limit!</span>
        </div>
    </div>
}