<dialog #orderNotes class="modal">
    <div class="modal-box">
        <div class="flex justify-center flex-col items-center gap-2 lg:gap-4">
            <input
                id="note"
                type="text"
                [(ngModel)]="orderNote"
                placeholder="Notes"
                class="input input-bordered w-full max-w-xs rounded-full"
            />
        </div>
        <div class="modal-action">
            <div class="flex gap-4 justify-between">
                <button (click)="onCloseModal()" class="btn">Cancel</button>
                <button
                    (click)="onAddNote()"
                    class="btn bg-blue-500 md:text-lg text-white font-semibold"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</dialog>
